@page "/Aikaleimat"
@model AikaHalli.Pages.TimeEntriesModel
@{
	ViewData["Title"] = "Aikaleimat";
}

<div class="container">
	<div class="row">
		<h1>Aikaleimojen hallinta</h1>
		<p>Täällä pääset tekemään uusia aikaleimoja ja muuttamaan tai poistamaan olemassa olevia aikaleimoja.</p>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form id="timeEntry" asp-page="TimeEntries" method="post">
				<table class="table">
					<thead>
						<tr>
							<th>Aikaleiman Id</th>
							<th>Tehtävän Id/(Nimi)</th>
							<th>Aikaleiman alkamisaika (Muodossa: "pp.kk.vvvv tt.mm.ss")</th>
							<th>Aikaleiman loppumisaika (Muodossa: "pp.kk.vvvv tt.mm.ss")</th>
							<th>Aikaleiman kesto (minuuteissa, pyöristetty)</th>
							<th>Aikaleiman muokkauspvm</th>
							<th>Aikaleiman lisätiedot</th>
							<th>Tallenna/Poista</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td><select asp-for="NewItem.TaskId" asp-items="@Model.TaskIdList.Select(x => new SelectListItem{Text = x.ToString()})"><option>Valitse</option></select></td>
							<td><input type="datetime-local" asp-for="NewItem.StartTime" class="form-control" /></td>
							<td><input type="datetime-local" asp-for="NewItem.EndTime" class="form-control" /></td>
							<td></td>
							<td></td>
							<td><input type="text" asp-for="NewItem.Notes" class="form-control" /></td>
							<td><button type="submit" asp-page-handler="AddNewTimeEntry" class="btn btn-primary">Lisää</button></td>
						</tr>
						@if (Model.Items is not null)
						{
							for (int i = 0; i < Model.Items.Count; i++)
							{
								<tr>
									<td>@Model.Items[i].EntryId</td>
									<td><input asp-for="@Model.Items[i].TaskId" type="text" value="@Model.Items[i].TaskId" class="form-control" name="Items[@Model.Items[i].EntryId].TaskId" /></td>
									<td><input asp-for="@Model.Items[i].StartTime" type="text" value="@Model.Items[i].StartTime" class="form-control" name="Items[@Model.Items[i].EntryId].StartTime" /></td>
									<td><input asp-for="@Model.Items[i].EndTime" type="text" value="@Model.Items[i].EndTime" class="form-control" name="Items[@Model.Items[i].EntryId].EndTime" /></td>
									<td><input asp-for="@Model.Items[i].Duration" type="text" value="@Model.Items[i].Duration" class="form-control" name="Items[@Model.Items[i].EntryId].Duration" disabled /></td>
									<td><input asp-for="@Model.Items[i].EntryDate" type="text" value="@Model.Items[i].EntryDate" class="form-control" name="Items[@Model.Items[i].EntryId].EntryDate" disabled/></td>
									<td><input asp-for="@Model.Items[i].Notes" type="text" value="@Model.Items[i].Notes" class="form-control" name="Items[@Model.Items[i].EntryId].Notes" /></td>
									<td>
										<div class="row btn-group flex-nowrap">
											<button type="submit" asp-page-handler="UpdateTimeEntry" asp-route-id="@Model.Items[i].EntryId" class="btn btn-success"><i class="bi-check-circle"></i></button>
											<button type="submit" asp-page-handler="DeleteTimeEntry" asp-route-id="@Model.Items[i].EntryId" class="btn btn-danger"><i class="bi-trash3"></i></button>
										</div>

									</td>
								</tr>
							}
						}

					</tbody>
				</table>
			</form>
		</div>
		<div class="col-sm-6"></div>
	</div>
</div>