@page "/Ajanseuranta"
@model AikaHalli.Pages.TimeTrackerModel
@{
	ViewData["Title"] = "Ajanseuranta";
}

<div class="container">
	<div class="row">
		<h1>Ajanseuranta</h1>
		<p>Täällä pääset suorittamaan ajanseurannan toimenpiteitä, kuten tehtävien aloitusta ja lopetusta.</p>
	</div>
	<div class="row mt-3 pb-5">
		<div class="col-5">
			<h5>Tehtävät</h5>
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Tehtävän Nimi</th>
						<th>Tehtävän Kuvaus</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.TaskList is not null)
					{
						foreach (var task in Model.TaskList)
						{
							<tr>
								<td>@task.TaskName</td>
								<td>@task.TaskDescription</td>
							</tr>
						}
					}
				</tbody>
			</table>			
		</div>
		<civ class="col-2"></civ>
		<div class="col-5">
			<h5>Aloita/Lopeta tehtävä</h5>
			<form id="timeEntryMgmt" asp-page="TimeTracker" method="post">
				@if (Model.CurrentItem is null)
				{
					// Luo uusi
					@if (Model.TaskList is not null)
					{
						<div class="row">
							<label asp-for="NewItem.TaskId">Tehtävän Id</label>
							<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" asp-for="NewItem.TaskId" asp-items="@Model.TaskList.Select(x => new SelectListItem{Value = x.TaskId.ToString(), Text = x.TaskName.ToString()})"></select>
						</div>
						<div class="row">
							<label asp-for="NewItem.Notes">Lisätiedot</label>
							<input asp-for="NewItem.Notes" type="text" value="" class="form-control" name="NewItem.Notes" />
						</div>
						
					}
					<button type="submit" asp-page-handler="AddNewTimeEntry" class="btn btn-primary mt-2"><i class="bi-play-circle"></i> Aloita</button>
				}
				else
				{
					<div class="row">
						<label asp-for="CurrentItem.TaskId">Tehtävän Id</label>
						@*<input asp-for="CurrentItem.TaskId" type="text" value="@Model.CurrentItem.TaskId" class="form-control" name="Items[@Model.CurrentItem.TaskId].TaskId" disabled/>*@
						<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" asp-for="CurrentItem.TaskId" asp-items="@Model.TaskList.Select(x => new SelectListItem{Value = x.TaskId.ToString(), Text = x.TaskName.ToString()})" disabled></select>
					</div>
					<div class="row">
						<label asp-for="CurrentItem.Notes">Lisätiedot</label>
						<input asp-for="CurrentItem.Notes" type="text" value="@Model.CurrentItem.Notes" class="form-control" name="Items[@Model.CurrentItem.TaskId].TaskId" disabled />
					</div>
					
					
					<button type="submit" asp-page-handler="StopCurrentTimeEntry" class="btn btn-danger mt-2"><i class="bi-stop-btn"></i> Lopeta</button>
				}
			</form>
		</div>
		
	</div>
	<div class="row mt-5">
		<div class="col-12">
			<h5>Aikaleimat tänään</h5>
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Id</th>
						<th>Tehtävän Nimi</th>
						<th>Alkamisaika</th>
						<th>Loppumisaika</th>
						<th>Lisätiedot</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.Items is not null)
					{
						foreach (var timeEntry in Model.Items)
						{
							<tr>
								<td>@timeEntry.EntryId</td>
								<td>@Model.TaskList.Where(x => x.TaskId == timeEntry.TaskId).FirstOrDefault().TaskName</td>
								<td>@timeEntry.StartTime</td>
								<td>@timeEntry.EndTime</td>
								<td>@timeEntry.Notes</td>
							</tr>
						}
					}
				</tbody>
			</table>		
		</div>
	</div>
</div>